<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>COD Computer Science Club</title>
<meta charset="iso-8859-1">
<link rel="stylesheet" href="../static/styles/layout.css" type="text/css">
<!--[if lt IE 9]><script src="scripts/html5shiv.js"> </script><![endif]-->
</head>

<body>
<div class="wrapper row1">
  <header id="header" class="clear">

    <div id="Logo">
	  <img src="images/second_way_better_logo.jpg" alt="Computer Science Club" height="100" width="100">  
    </div>
	
    <nav>
	  <a href="index.html" class="myButton2">Home</a>
      <a href="about.html" class="myButton2">About Us</a>
      <a href="contact.html" class="myButton2">Contact Us</a>
      <a href="events.html" class="myButton2">Events</a>
    </nav>
  </header>
  
  <div class="wrapper row2">
  <div id="container" class="clear">
	<section class="last clear">
	
      <article class="two_third">
        <h1 align="center">The events are yet to be announced.</h1>
			<h2 align="center">TBA</h2>

      </article>
	</section>
	</div>
  </div>
</div>

<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">Copyright &copy; 2012 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
  </footer>
</div>

</body>
</html>