<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>COD Computer Science Club</title>
<meta charset="iso-8859-1">
<link rel="stylesheet" href="../static/styles/layout.css" type="text/css">
<!--[if lt IE 9]><script src="scripts/html5shiv.js"> </script><![endif]-->
</head>



<body>
<div class="wrapper row1">
  <header id="header" class="clear">

    <div id="Logo">
	  <img src="images/second_way_better_logo.jpg" alt="Computer Science Club" height="100" width="100">  
    </div>
	
    <nav>
	  <a href="index.html" class="myButton2">Home</a>
      <a href="about.html" class="myButton2">About Us</a>
      <a href="contact.html" class="myButton2">Contact Us</a>
      <a href="events.html" class="myButton2">Events</a>
    </nav>
  </header>
</div>

<!-- content -->
<div class="wrapper row2">

  <div id="container" class="clear">
  
  
    <!-- content body -->
    <section id="shout">
      <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         width="960px" height="120px" viewBox="0 0 700 115">
	<style type="text/css">
	
	<![CDATA[

        text {
                filter: url(#filter);
                fill: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 100px;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                }
]]>
</style>
        <defs>

                <filter id="filter">
                    <feFlood flood-color= #060607 result= #060607 />
                    <feFlood flood-color="red" result="flood1" />
        <feFlood flood-color= #060607 result="flood2" />
                    <feFlood flood-color= result="flood2" />
                        <feOffset in="SourceGraphic" dx="3" dy="0" result="off1a"/>
                        <feOffset in="SourceGraphic" dx="2" dy="0" result="off1b"/>
                        <feOffset in="SourceGraphic" dx="-3" dy="0" result="off2a"/>
                        <feOffset in="SourceGraphic" dx="-2" dy="0" result="off2b"/>
                    <feComposite in="flood1" in2="off1a" operator="in"  result="comp1" />
                    <feComposite in="flood2" in2="off2a" operator="in" result="comp2" />

                        <feMerge x="0" width="100%" result="merge1">
                                <feMergeNode in = "black" />
                                <feMergeNode in = "comp1" />
                                <feMergeNode in = "off1b" />

                                <animate
                                        attributeName="y"
                                id = "y"
                                dur ="4s"

                                values = '104px; 104px; 30px; 105px; 30px; 2px; 2px; 50px; 40px; 105px; 105px; 20px; 6ßpx; 40px; 104px; 40px; 70px; 10px; 30px; 104px; 102px'

                                keyTimes = '0; 0.362; 0.368; 0.421; 0.440; 0.477; 0.518; 0.564; 0.593; 0.613; 0.644; 0.693; 0.721; 0.736; 0.772; 0.818; 0.844; 0.894; 0.925; 0.939; 1'

                                repeatCount = "indefinite" />

                                <animate attributeName="height"
                                id = "h"
                                dur ="4s"

                                values = '10px; 0px; 10px; 30px; 50px; 0px; 10px; 0px; 0px; 0px; 10px; 50px; 40px; 0px; 0px; 0px; 40px; 30px; 10px; 0px; 50px'

                                keyTimes = '0; 0.362; 0.368; 0.421; 0.440; 0.477; 0.518; 0.564; 0.593; 0.613; 0.644; 0.693; 0.721; 0.736; 0.772; 0.818; 0.844; 0.894; 0.925; 0.939; 1'

                                repeatCount = "indefinite" />
                    </feMerge>


                        <feMerge x="0" width="100%" y="60px" height="65px" result="merge2">
                                <feMergeNode in = "black" />
                                <feMergeNode in = "comp2" />
                                <feMergeNode in = "off2b" />

                                <animate attributeName="y"
                                id = "y"
                                dur ="4s"
                                values = '103px; 104px; 69px; 53px; 42px; 104px; 78px; 89px; 96px; 100px; 67px; 50px; 96px; 66px; 88px; 42px; 13px; 100px; 100px; 104px;'

                                keyTimes = '0; 0.055; 0.100; 0.125; 0.159; 0.182; 0.202; 0.236; 0.268; 0.326; 0.357; 0.400; 0.408; 0.461; 0.493; 0.513; 0.548; 0.577; 0.613; 1'

                                repeatCount = "indefinite" />

                                <animate attributeName="height"
                                id = "h"
                                dur = "4s"

                                        values = '0px; 0px; 0px; 16px; 16px; 12px; 12px; 0px; 0px; 5px; 10px; 22px; 33px; 11px; 0px; 0px; 10px'

                                keyTimes = '0; 0.055; 0.100; 0.125; 0.159; 0.182; 0.202; 0.236; 0.268; 0.326; 0.357; 0.400; 0.408; 0.461; 0.493; 0.513;  1'

                                repeatCount = "indefinite" />
                    </feMerge>

                        <feMerge>
                                <feMergeNode in="SourceGraphic" />

                                <feMergeNode in="merge1" />
                        <feMergeNode in="merge2" />

                    </feMerge>
            </filter>

        </defs>

<g>
        <text x="0" y="100">COD CS CLUB</text>
</g>
</svg>
    </section>
	
    <!-- main content -->
    <section id="services" class="clear">
      
      <!-- article 1 -->
      <article class="one_third lastbox" align="center" >
        <h2 align="center">Welcome to Computer Sciences!</h2>
        <img src="images/CS_LOGO.png" alt="">
        <p align="center">Here at the club we love to study everything about the computer sciences!</p>
		<p align="center">If you want to read more about this topic, read more! There will be more information inside!</p>
      </article>
	 
    </section>

    <!-- ########################################################################################## -->
    <!-- ########################################################################################## -->
    <!-- ########################################################################################## -->
    <!-- ########################################################################################## -->
	
	
    <section class="last clear">
	
      <article class="two_third">
        <h1 align="center" class="big_font">We are a community of computer scientists!</h1>
		</br>
        <p align="center" >We are always eager to help out our fellow scientists, so come join us!</p>
		  <div class="container-login">
            <img class="circle" src="images/coding2.svg">
			
			<!-- Sign up Form -->
            <form action="/signup" method="post">
			  
              <div class="form-input">
				<input type="text" name="name" placeholder="Name">
              </div>
			  
              <div class="form-input" >
                <input type="text" name="email" placeholder="Email">
              </div>
			  
              <input class="btn-send-email" type="submit" name="submit" value="Sign-up">
            </form>
			
          </div>
		  
      </article>
	  
	  
      <article class="one_third lastbox">
        <h1 align="center" class="big_font">Don't like the projects we're currently working on?</h1>
		</br>
        <p align="center">Submit your own ideas for projects! We would love to hear from you!</p>
        <footer class="more"><a href="#">Submit Here &raquo;</a></footer>
      </article>
	  
    </section>
	
	
    <!-- / content body -->
  </div>
</div>


<!-- footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">Copyright &copy; 2016 - All Rights Reserved - <a href="#">COD Computer Science Club</a></p>
    <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
  </footer>
</div>

</body>
</html>
